<!DOCTYPE html>
{% load custom_teg %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %}</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'main' %}">Новостной портал</a>
                <a class="navbar-brand" href="{% url 'news_create' %}">Добавить новость</a>
                <a class="navbar-brand" href="#">Удалить новость</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'login' %}">Вход</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Регистрация</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Выход</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <td valign="top" class="left-chapters">
            <ul id="leftchapters">
                {% cat as categoryes %}
                {% for i in categoryes %}
                <li><a href="#">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </td>


        <div class="container">
            <div class="text-center mt-5">
                <h1>{% block content %}{% endblock content %}</h1>
                <p class="lead">{% block tag %}{% endblock tag %}</p>
                <p>{% block search %}{% endblock search %}</p>
            </div>
        </div>
	</body>
</html>