{% extends 'base.html' %}
{% load custom_teg %}

{% block title %}
Главная страница
{% endblock title %}
{% block content %}

   <form action="" method="get">

       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

{% for i in news_all %}
        <h1>{{ i.title }}</h1>
        <h3>{{ i.text|truncatewords:50|linebreaks }}</h3>
        <h4>{{ i.time_in }}</h4>
    <div class="clear"></div>
    <p class="link-read-post"><a href="{% url 'news_detail' i.pk %}">Читать пост</a></p>
{% endfor %}
{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}