{% extends 'base.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Главная страница
{% endblock title %}

{% block content %}
<h1>Все товары</h1>
   <hr>
   {% if news_all %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Время</td>
           </tr>

           {% for obj in news_all %}
           <tr>

               <td>{{ obj.title }}</td>
               <td>{{ obj.text }}</td>
               <td>{{ obj.category }}</td>
               <td>{{ obj.time_in|currency }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}

{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">назад</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">вперед</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}

{% block tag %}
{% current_time '%b %d %Y' %}
{% endblock tag %}

{% block search %}
<form action="" method="get">

    {{ filterset.form.as_p }}

    <input type="submit" value="Найти" />
</form>

{% endblock search %}


